.results {
  background-color: #f5f6f7;
  padding-bottom: 50px;
  /* width: 100%; */
}

.results__title {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 40px;
  color: #1a1b22;
  font-family: Roboto slab, sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: relative;
}

.results__cards-display {
  display: flex;
  flex-direction: column;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 40px 0 40px;
}
.results__cards-inner {
  display: flex;
  flex-wrap: wrap;
  /* white-space: wrap; */
  justify-content: space-between;
}

.results__more-button {
  border: none;
  background-color: #ffffff;
  color: #1a1b22;
  display: flex;
  margin: 0 auto;
  width: 288px;
  height: 64px;
  padding: 0;
  border-radius: 35px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  font-size: 18px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
}

.results__more-button:hover {
  cursor: pointer;
  background: #e8e8e8;
}

@media (max-width: 1300px) and (min-width: 768px) {
  .results {
    min-height: 654px;
    padding-bottom: 40px;
  }

  .results__cards-display {
    max-width: 688px;
  }
  .results__title {
    padding: 40px 0 32px 0px;
    font-size: 30px;
  }
  .results__cards-inner {
    gap: 8px;
    justify-content: center;
  }

  .results__more-button {
    width: 240px;
    height: 56px;
    margin-top: 32px;
  }
}

@media (max-width: 767px) {
  .results {
    min-height: 1568px;
    padding-bottom: 24px;
  }

  .results__cards-display {
    padding: 0 16px;
  }

  .results__title {
    padding: 32px 16px 58px 16px;
    font-size: 30px;
  }

  .results__cards-inner {
    gap: 10px;
    justify-content: center;
    padding: 0 16px;
  }

  .results__more-button {
    width: 288px;
    height: 56px;
    margin-top: 16px;
  }
}
